/* Шрифт "Lato" */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* Контент */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: #424551;
}
.online-course {
  width: 810px;
  margin: 0 auto;
}
.online-course__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
  color: #1E212C;
  margin: 0 0 92px 0;
}
.online-course__image {
  margin: 0 0 60px 0;
}
.online-course__image img {
  width: 100%;
}
.online-course__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #1E212C;
  margin: 0 0 24px 0;
}
.online-course__text_1 {
  margin: 0 0 30px 0;
}
.online-course__text_2 {
  margin: 0 0 48px 0;
}
.online-course__citation {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #1E212C;
  margin: 0 0 48px 0;
}
.online-course__text_3 {
  margin: 0 0 24px 0;
}
.online-course__list {
  margin: 0 0 24px 0;
}
.online-course__list li {
  margin: 0 0 4px 0;
}
.online-course__text_4 {
  margin: 0 0 60px 0;
}