.wrapper {
    min-height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Header/заголовок */
h1 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: #505050;
    padding: 25px 0 0 0;
    margin: 0 0 20px 0;
}

/* ссылка на страницу figma */
.subtitle {
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    color: #505050;
    text-align: center;
}

/* внутренние отступы */
/* первое упражнение */
.paddings {
    text-transform: uppercase;
    text-align: center;
    max-width: 1000px;
    padding: 25px 0 0 0;
    margin: 0 auto 30px;
}
.paddings__text_1 {
    font-size: 25px;
    color: #8B008B;
}
.paddings__text_2 {
    font-size: 23px;
    color: #800080;
    padding: 10px 0 0 0;
}
.paddings__text_3 {
    font-size: 21px;
    color:  #9400D3;
    padding: 8px 0 0 0;
}
.paddings__text_4 {
    font-size: 19px;
    color: 	#9932CC;
    padding: 6px 0 0 0;
}
.paddings__text_5 {
    font-size: 17px;
    color: #8A2BE2;
    padding: 4px 0 0 0;
}
.paddings__text_6 {
    font-size: 15px;
    color: #a251ee;
    padding: 2px 0 0 0;
}
.paddings__text_7 {
    font-size: 17px;
    color: #8A2BE2;
    padding: 2px 0 0 0;
}
.paddings__text_8 {
    font-size: 19px;
    color: 	#9932CC;
    padding: 4px 0 0 0;
}
.paddings__text_9 {
    font-size: 21px;
    color:  #9400D3;
    padding: 6px 0 0 0;
}
.paddings__text_10 {
    font-size: 23px;
    color:	#800080;
    padding: 8px 0 0 0;
}
.paddings__text_11 {
    font-size: 25px;
    color: #8B008B;
    padding: 10px 0 0 0;
}

/* второе упражнение */
.paddings-too {
    text-transform: uppercase;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto 30px;
}
.paddings-too__one {
    display: inline-block;
    margin: 0 0 5px 0;
}
.paddings-too__one_1 {
    font-size: 20px;
    color: 	#696969;
}
.paddings-too__one_2 {
    font-size: 18px;
    color: 	#808080;
    padding: 0 0 0 8px;
}
.paddings-too__one_3 {
    font-size: 16px;
    color: #A9A9A9;
    padding: 0 0 0 6px;
}
.paddings-too__one_4 {
    font-size: 14px;
    color: #C0C0C0;
    padding: 0 0 0 4px;
}
.paddings-too__one_5 {
    font-size: 12px;
    color: 	#D3D3D3;
    padding: 0 0 0 2px;
}
.paddings-too__two {
    display: inline-block;
}
.paddings-too__two_1 {
    font-size: 12px;
    color: 	#D3D3D3;
    padding: 0 0 0 2px;
}
.paddings-too__two_2 {
    font-size: 14px;
    color: #C0C0C0;
    padding: 0 0 0 4px;
}
.paddings-too__two_3 {
    font-size: 16px;
    color: #A9A9A9;
    padding: 0 0 0 6px;
}
.paddings-too__two_4 {
    font-size: 18px;
    color: #808080;
    padding: 0 0 0 8px;
}
.paddings-too__two_5 {
    font-size: 20px;
    color: #696969;
    padding: 0 0 0 10px;
}

/* третье упражнение */
.margin-block {
    width: 430px;
    height: 682px;
    overflow: hidden;
    font-size: 12px;
    text-transform: lowercase;
    color: #228B22;
    margin: 0 auto 30px;
}
.margin-block div {
    overflow: hidden;
    display: inline-block;
    width: 200px;
}
.margin-block p {
    width: 280px;
}
.margin-bloks__one {
    margin: 0 20px 0 0;
}

/* четвертое упражнение */
.negative-margin {
    max-width: 580px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto 30px;
}
.negative-margin__text_1 {
    color: #0000FF;
}
.negative-margin__text_2 {
    color: #FFD700;
    padding: 0 0 0 5px;
    margin: -45px 0 0 0;
}
.negative-margin__text_3 {
    color: #FF0000;
    padding: 0 0 0 10px;
    margin: -45px 0 0 0;
}

/* пятое упражнение */
.margins {
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 10px;
    text-align: justify;
    text-transform: lowercase;
}
.margins p{
    width: 750px;
    height: 80px;
    overflow: hidden;
    margin: 0 0 30px 0;
}
.margins__text_1 {
    color: #FF0000;
}
.margins__text_2 {
    color: 	#FFD700;
}
.margins__text_3 {
    color: 	#0000FF;
}

/* шестое упражнение */
.jeka {
    width: 1100px;
    margin: 0 auto 30px;
}
.jeka__block {
    display: inline-block;
    margin: 0 20px 0 0;
}
.jeka__text {
    font-size: 30px;
    font-weight: 700;
    color: rgb(32, 32, 32);
    text-align: center;
    letter-spacing: 4px;
}
.jeka__picture {
    width: 800px;
    height: 150px;
    overflow: auto;
}
.jeka__picture img {
    width: 100%;
}
.jeka__sound {
    font-size: 40px;
    color: #FF0000;
    text-transform: uppercase;
    display: inline-block;   
}

/* футер */
.signature {
    font-size: 20px;
    text-align: right;
    margin: 0 20px 40px 0;
}
